.foto-flow {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: 0 auto;
}

/* @media screen and (max-width: 981px) {
  .foto-flow {
    padding: 0 150px;
  }
} */

/* @media screen and (max-width: 882px) {
  .foto-flow {
    padding: 0 19px 0;
  }
} */