.popup__text-error {
  display: block;
  color: #FF0000;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 5px;
  min-height: 30px;
  width: 358px;

}

.popup__text-error:last-of-type {
  min-height: 48.34px;
}

@media screen and (max-width: 555px) {
  .popup__text-error {
    width: 238px;
  }

}