.card__like {
  background-color: #fff;
  background-image: url(../../../images/Like.svg);
  background-position: center;
  background-size: 22px 19px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 19px;
  width: 22px;
  border: 0;
  transition: opacity 0.2s;
}

.card__like:hover {
  opacity: .5;
  cursor: pointer;
}