.header {
  max-width: 880px;
  width: 100%;
  padding: 45px 0 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 882px) {
  .header {
    padding: 28px 0 0;
  }
}